*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Tahoma, sans-serif;
	color: #333;
}

.section{
	padding: 30px 10%;
}

.header{
	text-align: center;
	font-size: 24px;
	line-height: 1.5;
	margin-top: 80px;
}

.header span{
	
	font-weight: 400;
	display: block;
}

.header strong{

	font-weight: 900;
	text-transform: uppercase;
}

.main{
	margin-top: 80px;
	text-align: center;
}

.video, .form{
	display: inline-block;
	
	vertical-align: top;
}

.form{
	border: 5px solid #2727d9;
	padding: 20px;
	text-align: center;
	margin-left: 30px;
}
.form-header{
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 40px;
}
.form input{
	width: 300px;
	display: block;
	padding: 18px;
	border: 1px solid #333;
	font-size: 18px;
	margin-top: 11px;
}

.form button{
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	background-color: #2727d9;
	border: none;
	width: 300px;
	height: 60px;
	margin-top: 11px;
}

.feature-header{
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;

}
.feature{
	margin-top: 60px;
	text-align: center;
}
.col{
	display: inline-block;
	text-align: center;
	margin: 10px 50px;
}
.col img{
	max-width: 150px;
	margin-bottom: 10px;
}

.feature-btn{
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	background-color: #2727d9;
	border: none;
	width: 300px;
	height: 60px;
	display: block;
	margin: 60px auto;
}